.shadow() {
  box-shadow: 0 0 5px 5px #000000;
}

search-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  .fadeinmx();
}

search-page .typewriter-plane {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
  overflow: hidden;
}
.search-page-content {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  max-width: 95%;
}

.search-page-first-plane {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

search-page button {
  display: block;
}

search-page .submit {
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: #00b359;
  border: none;
  color: white;
  font-family: 'Verdana', serif;
  border-radius: 0 0 1.5rem 0;
  padding: 0.375rem 1.25rem;
}

search-page .submit:hover {
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: #00cc66 !important;
}

search-page .submit:focus {
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: #00b359;
  box-shadow: 0 0 0 0.2rem rgba(0, 204, 102, .5);
}

search-page input[type="text"] {
  flex-grow: 1;
  height: 40px;
  color: #495057;
  background-color: #efefef;
  transition: all 0.5s ease, box-shadow .35s ease-in-out;
  padding: .375rem 1.25rem;
  font-family: 'Verdana', sans-serif;
  border-radius: 24px 0 0 0;
  border: none;
}

search-page input[type="text"]:focus {
  transition: all 0.5s ease, box-shadow .15s ease-in-out;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .5);
}
.wrong {
  box-shadow: 0 0 0 3px rgba(218, 73, 89, 0.75) !important;
  transition: all 0.5s ease;
}

.wrong * {
  box-shadow: none !important;
  transition: box-shadow .15s ease-in-out;
}

search-page .logo {
  font-family: Verdana, sans-serif;
  font-size: 100pt;
  font-weight: bold;
  color: #efefef;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
  user-select: none;
  text-shadow: 0 0 50px #66a6f5;
}

search-page .controls-encapsulation {
  transition: box-shadow .35s ease-in-out;
  display: flex;
  flex-direction: row;
  border-radius: 24px 0;
  border: none;
  box-shadow: 0 0 50px #66a6f5;
}
