wait-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  .fadeinmx();
}

.wait-page-content {
  width: 40%;
}

wait-page .loading {
  font-family: cursive, sans-serif;
  font-size: 28pt;
  color: white;
  text-align: center;
}
